@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Roboto:wght@100&display=swap');

.video-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 25px;
    row-gap: 30px;
}

.body{
    margin: 0;
    padding-top: 100px;
    padding-left: 120px;
    background-color: rgb(247, 247, 247);
}

@media  (max-width: 1150px) {
    .video-grid{
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width : 1150px) and (max-width: 1700px) {
    .video-grid{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (min-width: 1700px) {
    .video-grid{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}