@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&family=Roboto:wght@100&display=swap');

.info-grid{
    display: grid;
    grid-template-columns: 70px 1fr;
}
.vedio-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 25px;
    row-gap: 30px;
}
.veido-title{
    color: rgb(0, 0, 0);
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 14px;
    font-weight: 1000;
    line-height: 20px;
    cursor: pointer;
    width: 300px;
    text-decoration: none;
    /* margin-bottom: 1px; */
}
.veido-title:hover{
    opacity: 0.7;
}
.title{
    padding-top: 15px;
    padding-bottom: 5px;
}
.channel-name{
    font-family: 'Roboto', Arial, sans-serif;
    color:rgb(96, 96, 96) ;
    width: 300px;
    font-size: 14px;
    font-weight: 600;
    line-height: 18px;
    cursor: pointer;
    text-decoration: none;
    /* margin-top: 15px; */
    /* margin-bottom: 5px; */
}
.channel-name:hover{
    opacity: 0.7;
}
.name{
    padding-top: 5px;
    padding-bottom: 3px;
}
.views-stst{
    box-sizing: border-box;
    color: rgb(96, 96, 96);
    font-size: 10px;
    font-family:'Roboto', Arial, sans-serif ;
    font-weight: 400;
    line-height: 18px;
    margin-top: 0;
    width: 300px;
    font-size: small;
}
.views{
    padding-top: 2px;
}

.vedio-info{
    width: 300px;
    display: inline-block;
}
.channel-picture{
    width: 50px;
    display: inline-block;
    margin-right: 20px;
    vertical-align: top;
    margin-top: 20px;
    text-decoration: none;
}
.profile-picture{
    width: 100%;
    height: 50px;
    border-radius: 40px;
}
.thumbnail{
    width: 100%;
    transition: 0.15s;
}
.thumbnail:hover{
    opacity: 0.8;
}
.body{
    margin: 0;
}
.header{
    height: 95px;
}